<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title> Update page</title>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body> 
		  
    <div class="container">
        <h2>update Form</h2>
        <div th:if="${param.success}">Your are in update page</div>
        <form th:action="@{/saveemployee}" method="post" th:object="${employee}">
			
			 <input type="hidden" th:field="*{id}">

            <!-- Last Name -->
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter your last name" th:field="*{name}" required autofocus="autofocus" />
            </div>

            <!-- Email -->
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" th:field="*{email}" required autofocus="autofocus" />
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-success">update Employee</button>   
        </form>
    </div>

 

</body>
</html>